.chat-styles {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply txt-main-text-medium mb-ds-16 text-ds-20;
    }

    p {
        @apply mb-ds-16;
    }

    li {
        @apply mb-ds-16;
        /* add bullet point decoration */
        list-style: none;
        position: relative;
        padding-left: 1em;

        &::before {
            content: '•';
            position: absolute;
            left: 0;
        }
    }


}