@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .txt-hero {
    @apply max-md:text-ds-24 text-ds-36 font-medium text-ds-grey-900;
  }

  .txt-section-label {
    @apply text-ds-16 text-ds-grey-500 font-medium tracking-widest;
  }

  .txt-main-text-medium {
    @apply text-ds-16 font-medium text-ds-grey-800;
  }

  .txt-button-text {
    @apply text-ds-16 text-ds-black font-semibold tracking-[1px];
  }

  .txt-button-small-text {
    @apply text-ds-12 text-ds-black font-bold tracking-[1px];
  }

  .txt-paragraph {
    @apply text-ds-16 font-normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}