@mixin buttonStyles($color, $elevation: 4px) {
    box-shadow: $elevation $elevation 0px theme('colors.' + $color);
    $activeEleveation: 1px;
    $hoverElevation: $elevation + 2px;
    $activeTranslation: $elevation - $activeEleveation;

    &:hover {
        box-shadow: $hoverElevation $hoverElevation 0px theme('colors.' + $color);
        transform: translateY(-2px) translateX(-2px);
    }

    &:active {
        box-shadow: 1px 1px 0px theme('colors.' + $color);
        transform: translate($activeTranslation, $activeTranslation);
    }
}

.components-btn {
    @apply rounded-ds-4;
    transition: all 0.1s ease;
}


.components-btn--small {
    @apply txt-button-small-text py-ds-8 px-ds-12;
    box-shadow: none;
}

.components-btn--normal {
    @apply txt-button-text p-ds-12;
}

.components-btn--primary {
    @apply bg-ds-green-400 border border-ds-green-400;

    &.components-btn--normal {
        @include buttonStyles('ds-green-500');
    }

    &.components-btn--small {
        @include buttonStyles('ds-green-500', 0px);
    }
}

.components-btn--secondary {
    @apply bg-ds-white border border-ds-grey-900;

    &.components-btn--normal {
        @include buttonStyles('ds-black');
    }

    &.components-btn--small {
        @include buttonStyles('ds-black', 0px);
    }
}